doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  title Спасибо от Сбербанка
  link(rel='stylesheet' href='css/style.min.css')
  link(rel='preload' href='fonts/Geometria-Bold.woff' as='font' type='font/woff')
  link(rel='preload' href='fonts/Geometria-Bold.woff2' as='font' type='font/woff2')
  link(rel='preload' href='fonts/Geometria-normal.woff' as='font' type='font/woff')
  link(rel='preload' href='fonts/Geometria-Regular.woff2' as='font' type='font/woff2')
header.page-header
  .page-nav.page-nav--nomagic
    .container.page-nav__wrapper
      a.page-nav__logo-link(href='index.html')
        img(src='img/logo_sberbank_thanks.png' alt='Спасибо от сбербанка' width='180' height='80').page-nav__logo-img

      button(type='button').page-nav__hamburger

      -
        var navigation = [
        {title: 'Купоны и сертификаты', link: 'apple-music.html'},
        {title: 'Впечатления', link: ' '},
        {title: 'Авиабилеты', link: ' '},
        {title: 'Ж/д билеты', link: ' '},
        {title: 'Отели', link: ' '},
        {title: 'Каршеринг', link: ' '},
        {title: 'Театры', link: ' '},
        {title: 'Страхование', link: ' '},
        {title: 'Как подключиться', link: ' '},
        {title: 'Партнеры', link: ' '}];

      ul.page-nav__main-nav.main-nav
        each item in navigation
          li.main-nav__item.main-nav__item--header
            a.main-nav__item-link(href= item.link)= item.title


      .user-block
        .user-block__coord-select.coord-select
          a.coord-select__link(href="")
            img(src="img/icon_location_triangle.svg", width="22" height="21")
            |Санкт-Петербург
          p.coord-select__popup.visually-hidden
            span.coord-select__current-city Ваш город - Санкт-Петербург?
            button.coord-select__change-city-button
              |Сменить город

          .user-block__search-n-signin
            button.user-block__search-button
              img(src="img/icon_search-full.svg", width="24" height="24")
            a.user-block__signin-button(href="")
              | Войти


main
  h1.visually-hidden
    |Выгодные предложения от Сбербанк Спасибо
  section.partners
    .container
      h2.partners__title.page-title
        |Партнеры и предложения
      form.partners__form.partners-form(action="")
        .partners__options

          -
            var partners = [{id: 'all-partners', text: 'Все партнеры'},
            {id: 'popular-partners', text: 'Популярные'},
            {id: 'supermarket-partners', text: 'Супермаркеты'},
            {id: 'cafe-partners', text: 'Кафе и рестораны'},
            {id: 'taxi-partners', text: 'Такси'},
            {id: 'beauty-partners', text: 'Красота'},
            {id: 'utilities-partners', text: 'Электроника и бытовая техника'},
            {id: 'zooshop-partners', text: 'Зоотовары'},
            {id: 'theatre-partners', text: 'Кино и театр'}];

          each item in partners
            input(type="checkbox").partners-form__checkbox.visually-hidden(id=item.id name=item.id)
            label.partners-form__label(for=item.id tabindex="0")= item.text
          button.partners-form__show-more-button
            |. . .

        .partners-form__options-toggle.two-option-toggle
          label.two-option-toggle__label(for="give-or-take")
            span(tabindex="0").two-option-toggle__first-option
              | Начисляют спасибо
            input.two-option-toggle__input#give-or-take.visually-hidden(type="checkbox")
            span.two-option-toggle__slider
            span(tabindex="0").two-option-toggle__second-option
              | Принимают спасибо

      -
        var cards = [{img: 'img/img_mvideo1x.png', alt: 'МВидео ', title: 'М.видео', percent: '1,5% '},
          {img: 'img/img_burger_king.png', alt: 'Бургер Кинг ', title: 'Burger King', percent: '3% '},
          {img: 'img/img_technopark1x.png', alt: 'Технопарк ', title: 'Технопарк', percent: '4,5% '},
          {img: 'img/img_bork.png', alt: 'Борк ', title: 'Bork', percent: 'От 1,5% '},
          {img: 'img/img_euroset.png', alt: 'Евросеть ', title: 'Евросеть', percent: '1,5% '}];

      ul.partners-list
        each item in cards
          li.partners-list__item
            a(href="").partners-list__item-link
              p.partners-list__item-percent= item.percent
              p.partners-list__item-clarification
                | Спасибо от суммы покупки
              img(src= item.img, alt="Предложение от " + item.alt + " на Сбербанк Спасибо", width="120" height="120").partners-list__item-img
              p.partners-list__item-title= item.title
      button.partner-list__show-more-button
        | Еще 4 партнера


  section.offers
    .container
      h2.offers__title
        | 3 предложения в категории «Электроника и бытовая техника»

      -
        var discounts = [{img: 'img/img_technopark_goods.jpg', alt: 'Скидка от Технопарка на Сбербанк Спасибо', text: '20% спасибо за технику Electrolux', title: 'Технопарк', logo: 'img/img_technopark_logo.png'},
          {img: 'img/img_euroset_discount.jpg', alt: 'Скидки на товары в магазине Евросеть', text: '10% спасибо за покупки в черную пятницу', title: 'Евросеть', logo: 'img/img_euroset_logo.png'},
          {img: 'img/img_mvideo_discount.jpg', alt: 'Скидка от МВидео на Сбербанк Спасибо', text: '15% спасибо для студентов', title: 'М.Видео', logo: 'img/img_mvideo_logo.png'}];

      ul.offers__list
        each item in discounts
          li.offers__list-item
            a(href="").offers__list-link
              img(src=item.img, alt=item.alt, width="377", height="236").offers__list-title-img
              .offers__list-info-block
                img(src=item.logo, alt=item.alt, width="50", height="50").offers__list-info-logo
                .offers__list-info
                  p.offers__list-company-title= item.title
                  p.offers__list-discount-title= item.text
      button.offers__show-more-button
        | Еще 4 предложения

  section.advantages
    h2.visually-hidden
      | Выгоды, купоны и другие выгодные предложения на Сбербанк Спасибо
    .container.advantages__wrapper
      .advantages__list-wrapper
        -
          var advantages = [
            {img: 'img/img_burger_king.png', alt: 'Выгодные предложения от Бургер Кинг на Сбербанк Спасибо'},
            {img: 'img/img_5chka.png', alt: 'Выгодные предложения от Пятерочки на Сбербанк Спасибо'},
            {img: 'img/img_respublika.png', alt: 'Выгодные предложения от Республики на Сбербанк Спасибо'},
            {img: 'img/img_megafon.png', alt: 'Выгодные предложения от Мегафон на Сбербанк Спасибо'},
            {img: 'img/img_ivi.png', alt: 'Выгодные предложения от ivi на Сбербанк Спасибо'}
          ];

        ul.advantages__list.advantages__list--long.advantages__list--discounts
          each item in advantages
            li.advantages__list-item
              a(href="").advantages__list-item-link
                img.advantages__list-img(src=item.img, alt=item.alt width="120" height="120")

      .advantages__list-wrapper
        -
          var advantages = [
            {img: 'img/img_bud_zdorov.png', alt: 'Выгодные предложения от Будь Здоров на Сбербанк Спасибо'},
            {img: 'img/img_5chka.png', alt: 'Выгодные предложения от Пятерочки на Сбербанк Спасибо'},
            {img: 'img/img_litres.png', alt: 'Выгодные предложения от Литрес на Сбербанк Спасибо'},
            ];

        ul.advantages__list.advantages__list--percents
          each item in advantages
            li.advantages__list-item.advantages__list-item--percents
              a(href="").advantages__list-item-link
                img.advantages__list-img(src=item.img, alt=item.alt width="120" height="120")

        -
          var advantages = [
            {img: 'img/img_posuda_centr.png', alt: 'Выгодные предложения от Посудацентр на Сбербанк Спасибо'},
            {img: 'img/img_lamoda.png', alt: 'Выгодные предложения от Lamoda на Сбербанк Спасибо'},
            {img: 'img/img_mytoys.png', alt: 'Выгодные предложения от MyToys на Сбербанк Спасибо'},
            ];

        ul.advantages__list.advantages__list--coupon
          each item in advantages
            li.advantages__list-item
              a(href="").advantages__list-item-link
                img.advantages__list-img(src=item.img, alt=item.alt width="120" height="120")


      .advantages__list-wrapper
        -
          var advantages = [
            {img: 'img/img_ozon.png', alt: 'Выгодные предложения от Ozon на Сбербанк Спасибо'},
            {img: 'img/img_tez.png', alt: 'Выгодные предложения от Tez Tour на Сбербанк Спасибо'},
            {img: 'img/img_booking_car.png', alt: 'Выгодные предложения от Booking Car на Сбербанк Спасибо'},
            {img: 'img/img_sberbank.png', alt: 'Выгодные предложения от Сбербанк на Сбербанк Спасибо'},
            {img: 'img/img_tripster.png', alt: 'Выгодные предложения от Tripster на Сбербанк Спасибо'}
          ];

        ul.advantages__list.advantages__list--long.advantages__list--personal-offer
          each item in advantages
            li.advantages__list-item
              a(href="").advantages__list-item-link
                img.advantages__list-img(src=item.img, alt=item.alt width="120" height="120")

footer.page-footer
    .container
      .page-footer__nav-block
          p.page-footer__contacts
            a(href="tel: 900").page-footer__contacts-tel
              | 900
            br
            span.page-footer__contacts-info
              | По России бесплатно

          nav.page-footer__nav
            -
              var navigation = [
              {title: 'Купоны и сертификаты', link: ''},
              {title: 'Впечатления', link: ''},
              {title: 'Авиабилеты', link: ''},
              {title: 'Ж/д билеты', link: ''},
              {title: 'Отели', link: ''},
              {title: 'Каршеринг', link: ''},
              {title: 'Театры', link: ''},
              {title: 'Страхование', link: ''},
              {title: 'Как подключиться', link: ''},
              {title: 'Партнеры', link: ''}];

            ul.main-nav.main-nav--footer
              each item in navigation
                li.main-nav__item.main-nav__item--footer
                  a.main-nav__item-link(href= item.link)= item.title


      .page-footer__socials-block
        a(href="").page-footer__logo
            img(src="img/icon_sberbank_footer_logo.svg", alt="Спасибо от Сбербанка")

        .page-footer__socials.socials
          ul.socials__application-list
            li.socials__application-list-item
              a(href="").socials__application-list-link
                img(src="img/img-google-play.png", alt="Приложение спасибо от сбербанка в GooglePlay" width="130" height="40")
            li.socials__application-list-item
              a(href="").socials__application-list-link
                img(src="img/img_app_store_icon.png", alt="Приложение спасибо от сбербанка в AppStore" width="130" height="40")

          -
            var icons = [
              {img: 'img/icon_ok.svg'},
              {img: 'img/icon_fb.svg'},
              {img: 'img/icon_vk.svg'},
              {img: 'img/icon_inst.svg'}
            ];

          ul.socials__networks-list
            each item in icons
              li.socials__networks-list-item
                a(href="").socials__networks-list-link
                  img(src=item.img, alt="Следите за нами в социальных сетях").socials__networks-list-img

      .page-footer__disclaimer.disclaimer-block
        small.disclaimer-block__copyright
          | © 1997—2019 ПАО Сбербанк.
        small.disclaimer-block__page-disclaimer
          | <a href=""> Политика </a> АО «ЦПЛ» в отношении обработки персональных данных и <a href=""> Согласие </a> на обработку данных участника Программы «Спасибо от Сбербанка»

script(src="js/script.js")
script(src="js/open-search-input.js")
script(src="../node_modules/picturefill/dist/picturefill.js")








